
.asmuo {
    list-style-type: none;
    margin: 1em;
    font-weight: 700;
    

}

.kitas {
    list-style-type: none;
    padding-left: 0px;
    font-weight: 400;
    
 

    
}

@media screen and (max-width: 940px) {
    
    .kontaktas {
    display: none;
  
}
    